body {
  width: 1170px;
  margin: 10px auto;
  background: #f5f5f5;
}

.men-product {
  display: block;
  position: relative;
  line-height: 1;
  border-top: 2px solid #999;
}

.middle {
  vertical-align: middle;
}

.cat-main {
  display: block;
  height: 32px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  padding: 12px 9px;
  text-align: left;
}

.cat-main_logo {
  display: inline-block;
  width: 32px;
  vertical-align: top;
}

.cat-main a {
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.cat-main_title {
  display: inline-block;
  height: 32px;
  max-height: 32px;
  line-height: 14px;
  width: 130px;
}

a {
  text-decoration: none;
  color: #1f1f1f;
}

.cat-list {
  float: left;
  width: 190px;
  background-color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

.sub-cat-list {
  padding: 12px 12px 12px 15px;
  border-left: 1px solid #f2f2f2;
  height: 239px;
}

.sub-cat-list li a {
  display: block;
  font-size: 12px;
  line-height: 30px;
}

.view {
  display: block;
  background-color: #d2d2d2;
  font-weight: 700;
  font-size: 12px;
  line-height: 32px;
  padding: 0 15px;
}

.image-list a {
  border: 1px solid #f2f2f2;
}

.image-list a:hover {
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
}

.image-list .large-img {
  border-width: 0 1px 0 0;
}

.large-img img {
  width: 290px;
  height: 351px;
}

.small-img-block,
.last-img-block {
  width: 171px;
}

.small-img-block img,
.last-img-block img {
  width: 171px;
  height: 175px;
}

.small-img-block,
.large-img,
.center-img-block,
.last-img-block {
  float: left;
}

.small-img-block a,
.center-img-block a,
.last-img-block a {
  display: block;
}

small-img-block a:first-child {
  border-width: 0;
}

.center-img-block {
  width: 346px;
}

.center-img-block img {
  width: 344px;
  height: 175px;
}
